<!DOCTYPE html>
<html>
  <head>
    <title>CodeChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_packs_with_chunks_tag 'employee/entry' %>
    <%= javascript_packs_with_chunks_tag 'employee/entry' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
